In [1]:
import scanpy as sc
import warnings

In [2]:
warnings.simplefilter(action="ignore", category=FutureWarning)

In [3]:
sc.settings.verbosity = 3             # verbosity: errors (0), warnings (1), info (2), hints (3)
sc.logging.print_header()
sc.settings.set_figure_params(dpi=80, facecolor='white')

scanpy==1.6.0 anndata==0.7.4 umap==0.4.6 numpy==1.19.2 scipy==1.5.2 pandas==1.1.3 scikit-learn==0.23.2 statsmodels==0.12.0 python-igraph==0.8.3 leidenalg==0.8.2

In [4]:
path_matrix = "/data/filtered_feature_bc_matrix/"

In [5]:
adata = sc.read_10x_mtx(path_matrix)

--> This might be very slow. Consider passing `cache=True`, which enables much faster reading from a cache file.

In [6]:
adata

AnnData object with n_obs × n_vars = 1222 × 33538
    var: 'gene_ids', 'feature_types'

In [7]:
adata.var['mt'] = adata.var_names.str.startswith('MT-')

In [8]:
sc.pp.calculate_qc_metrics(adata, qc_vars=['mt'], percent_top=None, log1p=False, inplace=True)

In [9]:
adata.obs

,n_genes_by_counts,total_counts,total_counts_mt,pct_counts_mt
AAACCCAAGGAGAGTA-1,2620,8288.0,893.0,10.774614
AAACGCTTCAGCCCAG-1,1808,5512.0,439.0,7.964441
AAAGAACAGACGACTG-1,1562,4283.0,265.0,6.187252
AAAGAACCAATGGCAG-1,1225,2754.0,165.0,5.991285
AAAGAACGTCTGCAAT-1,1831,6592.0,436.0,6.614078
...,...,...,...,...
TTTCCTCTCTCTTGCG-1,3106,11714.0,1340.0,11.439303
TTTGATCTCTTTGGAG-1,1893,7329.0,647.0,8.827944
TTTGGTTAGTAACCTC-1,1352,4492.0,384.0,8.548531
TTTGGTTGTAGAATAC-1,2818,9741.0,1142.0,11.723642
TTTGTTGCAATTAGGA-1,1444,4426.0,373.0,8.427474

In [10]:
adata.var

,gene_ids,feature_types,mt,n_cells_by_counts,mean_counts,pct_dropout_by_counts,total_counts
MIR1302-2HG,ENSG00000243485,Gene Expression,False,0,0.000000,100.000000,0.0
FAM138A,ENSG00000237613,Gene Expression,False,0,0.000000,100.000000,0.0
OR4F5,ENSG00000186092,Gene Expression,False,0,0.000000,100.000000,0.0
AL627309.1,ENSG00000238009,Gene Expression,False,6,0.004910,99.509002,6.0
AL627309.3,ENSG00000239945,Gene Expression,False,1,0.000818,99.918167,1.0
...,...,...,...,...,...,...,...
AC233755.2,ENSG00000277856,Gene Expression,False,0,0.000000,100.000000,0.0
AC233755.1,ENSG00000275063,Gene Expression,False,0,0.000000,100.000000,0.0
AC240274.1,ENSG00000271254,Gene Expression,False,10,0.008183,99.181669,10.0
AC213203.1,ENSG00000277475,Gene Expression,False,0,0.000000,100.000000,0.0
FAM231C,ENSG00000268674,Gene Expression,False,0,0.000000,100.000000,0.0

In [11]:
adata.write("preprocessed.h5ad")

... storing 'feature_types' as categorical